.dn-xl-left {
  text-align: left;
}
.dn-xl-center {
  text-align: center;
}
.dn-xl-right {
  text-align: right;
}

@media (max-width: 1024px) {
  .dn-md-left {
    text-align: left;
  }
  .dn-md-center {
    text-align: center;
  }
  .dn-md-right {
    text-align: right;
  }
  .dn-browser-body--menu {
    max-height: 5000px;
  }
  .dn-style--aside {
    width: 100%;
    position: static;
    padding-right: 12px;
  }
  .dn-device {
    border: 0;
  }
}
@media (max-width: 667px) {
  .dn-button {
    line-height: 18px;
  }
}
