.dn-logo {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 2;
  line-height: 36px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  img {
    height: 36px;
    vertical-align: middle;
  }
  &:hover {
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
}

.ca-logo {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  cursor: pointer;
  &-group {
    &--blue {
      background: url(/img/ca-logo-group--blue.png);
      background-size: 213.5px 49px;
      width: 213.5px;
      height: 49px;
    }
  }
}
