.mc-input-text {
  width: 100%;
  display: block;
  padding: 0 16px;
  color: #222;
  background: #fff;
  border: 2px solid #1ECE6D;
  border-right: 0;
  outline: none;
  -webkit-border-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: text;
  font-family: Source Code Pro;
  font-size: 16px;
  line-height: 56px;
  height: 56px;
}
.mc-input-button {
  width: 100%;
  padding: 0;
  -webkit-border-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  background: #1ECE6D;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  line-height: 56px;
  height: 56px;
}
