.dn-style {
  &--title {
    text-align: center;
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }
  &--aside {
    position: fixed;
    width: 336px;
  }
  &--footer-link {
    font-family: 'Source Code Pro';
    margin: 0;
    line-height: 24px;
    display: inline-block;
    color: #a1a1a1;
    b {
      color: #EC1561;
      font-weight: bold;
    }
  }
  &--wrap {
    background: #FBD0DF;
    min-height: 48px;
    position: relative;
  }
  &--col {
    font-family: 'Source Code Pro';
    display: block;
    color: rgba(255, 255, 255, 1);
    background: #1094F6;
    line-height: 48px;
    min-height: 48px;
    padding: 0 24px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    span {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
.dn-text-center {
  text-align: center;
}

.dn-text-left {
  text-align: left;
}
.dn-text-right {
  text-align: right;
}
.github-button {
  color: #FFF;
}