<div class="dn-button dn-button--icon">
  <div class="g-ytsubscribe" data-channelid="UCbu25feEIe6fY9fZx8BCMSA" data-layout="full" data-count="default"></div>
</div>
<div class="dn-height-16"></div>
<div class="dn-button dn-button--icon">
  <div class="wrap xl-center xl-auto xl-gutter-8">
    <div class="col">
      <a class="github-button" href="https://github.com/flexiblegs/flexiblegs-scss-plus" data-icon="octicon-star" data-style="mega" data-count-href="/flexiblegs/flexiblegs-scss-plus/stargazers" data-count-api="/repos/flexiblegs/flexiblegs-scss-plus#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star flexiblegs/flexiblegs-scss-plus on GitHub">Star</a>
    </div>
    <div class="col">
      <a class="github-button" href="https://github.com/flexiblegs/flexiblegs-scss-plus" data-icon="octicon-eye" data-style="mega" data-count-href="/flexiblegs/flexiblegs-scss-plus/watchers" data-count-api="/repos/flexiblegs/flexiblegs-scss-plus#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch flexiblegs/flexiblegs-scss-plus on GitHub">Watch</a>
    </div>
  </div>
</div>
<div class="dn-height-16"></div>
<div class="dn-button dn-button--icon">
  <div class="wrap xl-center xl-auto xl-gutter-8">
    <div class="col">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://flexible.gs" data-text="I Love Flexible Grid System" data-via="flexiblegs"></a>
    </div>
    <div class="col">
      <a href="https://twitter.com/flexiblegs" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false"></a>
    </div>
  </div>
</div>
<div class="dn-height-40"></div>
