<a href="https://dribbble.com/shots/2423096-Merry-Christmas" target="_blank" style="line-height: 0;">
  <img src="/img/merry-christmas.png" alt="" style="max-width: 208px; width: 100%; border: 0;">
</a>
<div class="dn-height-24"></div>
<div class="wrap xl-4 xl-right xl-gutter-8">
  <div class="col">
    <a href="https://github.com/flexiblegs" class="dn-button dn-button--icon" target="_blank">
      <i class="fa fa-github-alt fa-2x"></i>
    </a>
  </div>
  <div class="col">
    <a href="https://twitter.com/flexiblegs" class="dn-button dn-button--icon" target="_blank">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </div>
  <div class="col">
    <a href="https://github.com/flexiblegs/flexiblegs-scss-plus/stargazers" class="dn-button dn-button--icon" target="_blank">
      <i class="fa fa-star fa-2x"></i>
    </a>
  </div>
  <div class="col">
    {% if page.language == 'en' %}
      <a href="https://twitter.com/share?text=I%20Love%20Flexible%20Grid%20System%20%3A%29&via=flexiblegs" class="dn-button dn-button--icon" target="_blank">
        <i class="fa fa-heart fa-2x"></i>
      </a>
    {% endif %}
    {% if page.language == 'tr' %}
      <a href="https://twitter.com/share?text=Flexible%20Grid%20System%27i%20Seviyorum%20%3A%29&via=flexiblegs" class="dn-button dn-button--icon" target="_blank">
        <i class="fa fa-heart fa-2x"></i>
      </a>
    {% endif %}
  </div>
</div>
<div class="dn-height-40"></div>
