<div class="dn-browser-body__item">
  <div class="wrap xl-gutter-24 xl-top xl-masonry-3" style="background: #FBD0DF;">
    <div class="col xl-1-1"><div class="dn-style--col" style="margin-bottom: 24px;">01</div></div>
    <div class="col xl-1-3"><div class="dn-style--col">02</div></div>
    <div class="col xl-1-3"><div class="dn-style--col">03</div></div>
    <div class="col xl-1-3"><div class="dn-style--col">04</div></div>
    <div class="col xl-1-1"><div class="dn-style--col" style="height: 120px; line-height: 120px;">05</div></div>
    <div class="col xl-1-2"><div class="dn-style--col" style="margin-bottom: 24px;">06</div></div>
    <div class="col xl-1-2"><div class="dn-style--col" style="margin-bottom: 24px;">07</div></div>
    <div class="col xl-1-1"><div class="dn-style--col">08</div></div>
  </div>
</div>
