<!DOCTYPE html>
{% if page.language == 'en' %}
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
{% endif %}
{% if page.language == 'tr' %}
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr-TR" lang="tr-TR">
{% endif %}
  {% include head.html %}
  <body>
    <section class="wrap xl-gutter-24 xl-outside-24 xl-top lg-1">
      <article class="col xl-9-12">
        {{ content }}
        <div class="wrap xl-flexbox xl-between xl-auto lg-1 lg-center">
          <div class="col lg-hidden">
            <span class="dn-style--footer-link">
              {% if page.language == 'en' %}
                Keyboard Shortcuts: <i class="fa fa-long-arrow-left"></i> Previous <i class="fa fa-long-arrow-right"></i> Next
              {% endif %}
              {% if page.language == 'tr' %}
                Klavye Kısayolları: <i class="fa fa-long-arrow-left"></i> Önceki <i class="fa fa-long-arrow-right"></i> Sonraki
              {% endif %}
            </span>
            <div class="dn-space-24"></div>
          </div>
          <div class="col">
            <a href="https://github.com/dnomak" class="dn-style--footer-link">
              {% if page.language == 'en' %}
                I <b>Love</b> Flexible Grid System :)
              {% endif %}
              {% if page.language == 'tr' %}
                Flexible Grid System'i <b>Seviyorum</b> :)
              {% endif %}
            </a>
            <div class="dn-space-24"></div>
          </div>
        </div>
        <div class="wrap xl-center xl-auto xl-gutter-16" style="color: #a1a1a1;">
          <div class="col">
            {% if page.language == 'en' %}
              Sponsored by
            {% endif %}
            {% if page.language == 'tr' %}
              Sponsor
            {% endif %}
          </div>
          <div class="col">
            <a href="/camiila" class="ca-logo ca-logo-group--blue"></a>
          </div>
        </div>
        <div class="dn-space-24 lg-hidden"></div>
      </article>
      <aside class="col xl-3-12 dn-style--aside">
        {% include menu.html %}
      </aside>
    </section>
  </body>
</html>
