<!DOCTYPE html>
{% if page.language == 'en' %}
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
{% endif %}
{% if page.language == 'tr' %}
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr-TR" lang="tr-TR">
{% endif %}
  {% include head.html %}
  <body>
    <section class="wrap xl-gutter-24 xl-outside-24 xl-table xl-top lg-normal lg-1">
      <article class="col">
        {{ content }}
        <div class="wrap xl-flexbox xl-between xl-auto lg-1 lg-center">
          <div class="col lg-hidden">
            <span class="dn-style--footer-link">
              {% if page.language == 'en' %}
                Keyboard Shortcuts: <i class="fa fa-long-arrow-left"></i> Previous <i class="fa fa-long-arrow-right"></i> Next
              {% endif %}
              {% if page.language == 'tr' %}
                Klavye Kısayolları: <i class="fa fa-long-arrow-left"></i> Önceki <i class="fa fa-long-arrow-right"></i> Sonraki
              {% endif %}
            </span>
          </div>
          <div class="col">
            <a href="https://github.com/dnomak" target="_blank" class="dn-style--footer-link">
              {% if page.language == 'en' %}
                I <b><i class="fa fa-heart fa-lg"></i> Love</b> Flexible Grid System :)
              {% endif %}
              {% if page.language == 'tr' %}
                Flexible Grid System'i <b><i class="fa fa-heart fa-lg"></i> Seviyorum</b> :)
              {% endif %}
            </a>
          </div>
        </div>
        <div class="dn-height-24"></div>
        <div class="wrap xl-1">
          <div class="col">
            <div class="wrap xl-center xl-auto xl-gutter-12" style="color: #a1a1a1;">
              <div class="col">
                {% if page.language == 'en' %}
                  Sponsored by
                {% endif %}
                {% if page.language == 'tr' %}
                  Sponsor
                {% endif %}
              </div>
              <div class="col">
                <a href="http://camiila.com/?source=flexiblegs" target="_blank" class="ca-logo">
                  <img src="/img/ca-logo-group--blue.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="dn-height-24 lg-hidden"></div>
        <div class="dn-height-24 lg-hidden"></div>
      </article>
      <aside class="col xl-width-360">
        <div class="dn-style--aside">
          {% include menu.html %}
        </div>
      </aside>
    </section>
  </body>
</html>
